<p id="notice"><%= notice %></p>


<% @comments.each do |comment| %>
        <p><%= comment.text %></p>
        <p><%= User.find(comment.user_id).nickname %></p>
     <% end %>

<%= link_to 'Back', twits_path %>
